<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
    <link href="carousel.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
    <main>
      <div id="header">
        <h1 id="title">{{title}}</h1>
        <p>{{date}}</p>
      </div>
      {{{html}}}
    </main>

    <footer>
        <div id="rights">
            All rights reserved. Contact: <a href="mailto:blog@example.com">blog@example.com</a>
      </div>
    </footer>
  </body>
</html>