<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
    <link href="articles.css" rel="stylesheet">
    <title>Articles</title>
  </head>
  <body>
    <main>
        {{#each inner}}
          <article>
              <span class="key">{{date}}</span>
              <div class="value">
                <div>
                  <a href="{{path}}"><h3>{{title}}</h3></a>
                  <div class="tags">
                    {{#each tags}}
                    <a href="tags#{{this}}" class="tag">#{{this}}</a>
                    {{/each}}
                  </div>
                  <p class="lang">{{lang}}</p>
                </div>
                  <p class="desc">{{desc}} <a class="read_more" href={{path}}>read more</a></p>
              </div>
          </article>
        {{/each}}
    </main>
  </body>
</html>