<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="sakura.css" rel="stylesheet">
    <link href="article.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
    <a id="back" href="index.html"><img src="../data/icons/back.svg" alt="" id="logo"></a>
    <input type="checkbox" class="theme-switch" id="theme-switch">
    <div id="page">
      <label for="theme-switch" class="switch-label"></label>
      <div class="sidebar">
        <div class="header">
          <div>
            <div class="line"></div>
            <span class="date">{{date}}</span>
          </div>
          <h1 class="title">{{title}}</h1>
        </div>
        <span class="divider">F</span>
        <div class="tags">
          {{#each tags}}
            <a href="tag/{{this}}.html" class="tag">#{{this}}</a>
          {{/each}}        
        </div>
        <nav class="toc">
          <ul>
            {{#each secs}}
              <li class="toc-level-{{level}}">
                <a href="#{{href}}">{{value}}</a>
              </li>
            {{/each}}
          </ul>
        </nav>
      </div>
      <main>
        {{{html}}}
      </main>
    </div>
  </body>
  <script src="index.js" type="text/javascript"></script>
</html>