<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
    <link href="article.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="sidebar">
      <a id="back" href="index.html">☚ back</a>
      <nav class="toc">
        <ul>
          {{#each secs}}
            <li>
              <a href="#{{this}}">{{this}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
    </div>
    <main>
      <div class="header">
        <div>
          <h1 id="t" class="title">{{title}}</h1>
          <div>
            <span>{{date}}</span>
            <span>·</span>
            <div class="tags">
              {{#each tags}}
                <a href="t/{{this}}.html" class="tag">#{{this}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <hr />
      {{{html}}}
    </main>

<!--     <footer>
        <div id="rights">
            All rights reserved. Contact: <a href="mailto:blog@example.com">blog@example.com</a>
      </div>
    </footer> -->
  </body>
</html>